.popup__name-field {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(17 / 14);
    color: #000000;
    display: block;
    padding: 0;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 358px;
    margin: auto;
    margin-bottom: 30px;
    padding-bottom: 13px;
}

@media screen and (max-width: 580px) {
    .popup__name-field {
        width: 238px;
    }
}