.elements__element-like-button {
    width: 22px;
    height: 19px;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
    background: url("../../../images/like-button-white.svg");
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
    align-self: center;
    margin-right: 5px;
}

.elements__element-like-button:hover {
    opacity: 0.5;
}
.elements__element-like-button:active {
    opacity: 1;
    background: url("../../../images/like-button-black.svg");
}