.header {
    margin: 45px auto 40px;
    width: 880px;
    line-height: 0;
    box-shadow: 0 -1px 0 rgba(84, 84, 84, 0.7) inset;
}

@media screen and (max-width: 879px) {
    .header {
        width: 581px;
    }
}

@media screen and (max-width: 580px) {
    .header {
        margin-top: 28px;
        margin-bottom: 42px;
        width: 320px;
    }
}
